<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/">All Games</a> |
        <a href="/moba">Moba Games</a>
    </div>
    <h1>Add New Game</h1>
    <form method="post" action="/add">
        <div>
            <label>Name</label>
            <br>
            <input type="text" name="name" placeholder="input name here..">
        </div>
        <br>
        <div>
            <label>Game Image</label>
            <br>
            <input type="text" name="gameImg" placeholder="input game image here..">
        </div>
        <br>
        <div>
            <label>Release Date</label>
            <br>
            <input type="date" name="releaseDate" placeholder="input release date here..">
        </div>
        <br>
        <div>
            <label>Developer</label>
            <br>
            <input type="text" name="developer" placeholder="input developer here..">
        </div>
        <br>
        <div>
            <label>Genre</label>
            <br>
            <select name="genre">
                <option value="" selected disabled>--SELECT GENRE--</option>
                <option value="MOBA">MOBA</option>
                <option value="FPS">FPS</option>
                <option value="BR">BR</option>
            </select>
        </div>
        <br>
        <button type="submit">Add New Game</button>
    </form>
</body>

</html>